/* ========================================Margin sur l'ensemble de la page======================================== */

.corps {
    margin: 1em;
}

.displaycards {
    display: flex;
}

/* ========================================Modifications======================================== */

.title-1 {
    font-size: 3em;
    color : #fff;
    text-align: center;
    
}
.style {
    /* color : rgb(46, 224, 224); */
    color : rgb(255, 187, 0);
}

.haut-de-page {
    font-size: 20px;
}

.nav-link {
    color:rgb(255, 187, 0);
}

/* ========================================Les images======================================== */

.img {
    text-align: left;
    float: left;
    margin: 0 10px 10px 0;
}


.image-2 {
    height: 20em;
    width: 30em;
    float: right;
    margin: 0 10px 10px 0;
}

.image-3 {
    height: 40em;
    width: 30em;
    float: right;
    margin-right: 40em;
}


/* ========================================Le chatbot======================================== */

.chatbot {
    min-width: 300px; 
    width: 300px; 
    min-height: 400px;
    position: fixed;
    top: 100px;
    right: 0px;
    border: 2px solid rgb(255, 187, 0);
    z-index: 999;
}

.style-gras {
    font-weight: bold;
}

div.card {
    border: 0px;
}

/* ========================================footer section styling======================================== */

footer{
    background : #7d7d7d;
    padding: 70px 70px;
    color:#000000;
    font-size: large;
}

.copyright{
    text-align: center;
}

footer span a{
    color: rgb(255, 187, 0);
    text-decoration: none;
}

footer span a:hover{
    text-decoration: underline;
    color:#000000;
}

.titre-footer{
    text-align: center;
    padding-bottom: 100px;
    font-size: 60px;
    font-family: 'Ubuntu', sans-serif;
}